* {
   font-family: "Montserrat", sans-serif;
}

.backgroundImage {
   background: #fff url("../public/images/IMG_7283.jpeg") left center/cover
      no-repeat;
   min-height: 100vh;
}
.weight600 {
   font-weight: 800;
   text-decoration: underline;
   font-size: larger;
}

.lightWeight {
   font-weight: 400;
}

.font-white {
   color: white;
}

.list-inline-item {
   margin-top: 10px;
   transition: all 0.5s ease;
}
.list-inline-item:hover {
   transform: scale(1.2);
}
.linkDecoration {
   text-decoration: none;
   color: white !important;
}
.min-height-100vh {
   min-height: 100vh;
}

.navBar-float {
   position: absolute;
   left: 0;
   min-height: 100vh;
   color: white;
   list-style: none;
}
.navIcon {
   transition: all 0.5s ease;
   opacity: 0.7;
}
.navIcon:hover {
   transform: scale(1.1);
   opacity: 1;
}

.tool-tip {
   position: absolute;
   left: -55%;
   opacity: 0;
   transition: all 0.5s ease;
   cursor: pointer;
}
.tool-tip:active {
   transform: translateY(5px);
}

.tool-tip-mobile {
   cursor: pointer;
}
.navIcon:hover .tool-tip {
   left: 100%;
   opacity: 1;
}
.navArrow {
   position: absolute;
   left: 0%;
   bottom: 10%;
   color: white;
   transition: left 0.5s ease;
}
#arrowNav {
   visibility: hidden;
}
#mobile-nav {
   list-style: none;
   background-color: rgb(255, 255, 255);
   min-height: 100vh;
   width: 50vw;
   position: absolute;
   color: black;
   bottom: 0;
   transition: left 0.5s ease;
}
#mobile-nav .navIcon {
   opacity: 1;
}

#arrowNav:checked + .navArrow {
}
#arrowNav:checked + #mobile-nav {
   display: block;
}
